<div class="column">
  <div class="row justify-content-center align-items-center mt-4">
    <div class="column" style="width: 5%;"></div>
    <div class="column" style="width: 25%;">
      <img src="assets/Images/drMaboule.jpg" class="rounded-circle img-fluid ml-2" alt="Responsive image"
           style="width: 70%;"/>
    </div>
    <div class="column " style="width: 60%; text-align: center; align: middle;">
      <h1 class="mb-4 mt-2">Rechercher un praticien</h1>
    </div>
  </div>

<!-- BLOC résultats + search  -->

  <div id="searchFlore" class="row ml-1 justify-content-center align-items-center" style="width:60%; height: 70px;">
    <div class="column mt-3" style="width: 12%;">
      <button id="btnSearch" class="btn float-right" style="background-color: #777799; width: 100%">
        <i class="fa fa-heartbeat" aria-hidden="true" style="color: white"></i>
      </button>
    </div>
    <div class="column mt-3" style="width: 77%;">
      <!--              <input class="form-control" id="myInput" type="text" placeholder="Entrez le nom d'une flore" style="text-align: center; font-style: italic" [(ngModel)]="nomFlore">-->
      <ng2-completer  [inputClass]="['completer-row','form-control']" [placeholder]="'Entrez le nom d\'un praticien'" [datasource]="nomPraticienList" [minSearchLength]="1" [(ngModel)]="nomPraticien"> </ng2-completer>
    </div>
  </div>


  <!-- BLOC résultat  -->
  <div class="row ml-1 ">
  <div id="result" class="column" style="width: 100%; border: none">
      <div class="row m-2 border pl-2">
        <!-- BLOC Texte  -->
        <div class="ml-2 mr-3 column " style="width: 30%;">
          <h5 style="font-weight: bold">Nom</h5>
        </div>
        <div class="ml-2 column  mr-3" style="width: 30%;">
          <h5 style="font-weight: bold">Prénom</h5>
        </div>
          <div class="ml-2 column mr-2 " style="width: 30%;">
            <h5 style="font-weight: bold">Spécialité</h5>
          </div>
        </div>


            <div class="row m-2 border pl-2" *ngFor="let praticien of list()">
              <!-- BLOC Texte  -->
              <div class="column  ml-2 mr-3" style="width: 30%;">
                <h5>{{praticien.nom}}</h5>
              </div>
                <div class="column ml-2 mr-3" style="width: 30%;">
                <h5>{{praticien.prenom}}</h5>
                </div>
                  <div class="column  ml-2 mr-2" style="width: 30%;">
                <h5>{{praticien.typeUtilisateur}}</h5>
                  </div>
              </div>

    </div>
</div>
</div>


